<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://snnnpesqhqaynipipucg.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNubm5wZXNxaHFheW5pcGlwdWNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTkxMDc4NjgsImV4cCI6MjAxNDY4Mzg2OH0.mpHVeDEDSFZ5otT3HgDh00p3xu3jRp1hW2-CnUzt8Xw</string>
</dict>
</plist>
